@model IEnumerable<DojoPuzzles.Models.TrocoModels>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.result)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.result)
        </td>
    </tr>
}

</table>
